@media (min-width: 768px) {
    body {
        min-width: 768px;
    }

    .brand-repair_title {
        padding: 16px 24px;
    }

    .swiper-pagination {
        display: none;
    }

    .brand-repair_tablet-visability {

    }

    .brand-repair_list {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 224px 224px 224px;
        gap: 24px;
        overflow-y: hidden;

        padding: 24px;
    }

    .brand-repair_list--hidden {
        max-height: 212px;
    }

    .brand-list_item {
        width: 224px;
    }


    .brand-repair_btn {
        display: flex;
    }

    .btn_text {
        padding-left: 17px;
    }

    .brand-repair_text {
        font-family: "TT Lakes", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
    }
}


@media (min-width: 1120px) {
    body {
        min-width: 1120px;
    }

    .brand-repair_title {
        padding: 16px 32px;
    }

    .brand-repair_list {
        min-width: 1120px;
        grid-template-columns: 240px 240px 240px 240px;
        gap: 16px 32px;

        padding:  24px 0 24px 32px;
    }

    .brand-repair_list--hidden {
        max-height: 206px;
    }

    .brand-list_item {
        min-width: 240px;
        margin-right: 0;
    }

    .brand-list_item:not(:nth-of-type(4n)) {
        margin-right: 32px;
    }

    .brand-repair_btn {
        padding-left: 39px;
    }

}

/*js styles*/